Repository BlackpointCyber/compassone-api-powershell-module---3-u53rtw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-maintainers, @core-maintainers, @security-team, @cmdlet-reviewers, @test-maintainers, @devops-team, @docs-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @docs-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/.github/dependabot.yml
  .github/dependabot.yml
Owners: @repo-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @docs-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @docs-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @devops-team, @security-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team, @security-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @devops-team, @security-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @docs-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @docs-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @docs-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @docs-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/infrastructure/docker/.dockerignore
  infrastructure/docker/.dockerignore
Owners: @devops-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/infrastructure/docker/Dockerfile.dev
  infrastructure/docker/Dockerfile.dev
Owners: @devops-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/infrastructure/docker/Dockerfile.docs
  infrastructure/docker/Dockerfile.docs
Owners: @devops-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/infrastructure/docker/Dockerfile.test
  infrastructure/docker/Dockerfile.test
Owners: @devops-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @devops-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/infrastructure/scripts/build.ps1
  infrastructure/scripts/build.ps1
Owners: @devops-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/infrastructure/scripts/docker-build.ps1
  infrastructure/scripts/docker-build.ps1
Owners: @devops-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/infrastructure/scripts/docker-test.ps1
  infrastructure/scripts/docker-test.ps1
Owners: @devops-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/infrastructure/scripts/publish.ps1
  infrastructure/scripts/publish.ps1
Owners: @devops-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/infrastructure/scripts/test.ps1
  infrastructure/scripts/test.ps1
Owners: @devops-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/infrastructure/templates/help.template.md
  infrastructure/templates/help.template.md
Owners: @docs-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/infrastructure/templates/module.build.psd1
  infrastructure/templates/module.build.psd1
Owners: @devops-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/infrastructure/templates/module.manifest.psd1
  infrastructure/templates/module.manifest.psd1
Owners: @devops-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/PSCompassOne.psd1
  src/scripts/PSCompassOne.psd1
Owners: @core-maintainers, @security-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/PSCompassOne.psm1
  src/scripts/PSCompassOne.psm1
Owners: @core-maintainers, @security-team

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/README.md
  src/scripts/README.md
Owners: @docs-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/build.ps1
  src/scripts/build.ps1
Owners: @repo-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/install.ps1
  src/scripts/install.ps1
Owners: @repo-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/uninstall.ps1
  src/scripts/uninstall.ps1
Owners: @repo-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Config/PSCompassOne.config.psd1
  src/scripts/Config/PSCompassOne.config.psd1
Owners: @repo-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Config/PSCompassOne.format.ps1xml
  src/scripts/Config/PSCompassOne.format.ps1xml
Owners: @repo-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Config/PSCompassOne.types.ps1xml
  src/scripts/Config/PSCompassOne.types.ps1xml
Owners: @repo-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Api/Get-CompassOneApiResponse.ps1
  src/scripts/Private/Api/Get-CompassOneApiResponse.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Api/Invoke-CompassOneApi.ps1
  src/scripts/Private/Api/Invoke-CompassOneApi.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Api/New-CompassOneApiRequest.ps1
  src/scripts/Private/Api/New-CompassOneApiRequest.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Authentication/Get-CompassOneToken.ps1
  src/scripts/Private/Authentication/Get-CompassOneToken.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Authentication/Set-CompassOneCredential.ps1
  src/scripts/Private/Authentication/Set-CompassOneCredential.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Authentication/Test-CompassOneToken.ps1
  src/scripts/Private/Authentication/Test-CompassOneToken.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Cache/Clear-CompassOneCache.ps1
  src/scripts/Private/Cache/Clear-CompassOneCache.ps1
Owners: @core-maintainers

.github/CODEOWNERS:

# Acts as a fallback for files not explicitly matched
* @repo-maintainers

# Core module files requiring both core maintainer and security team review
src/scripts/PSCompassOne.ps* @core-maintainers @security-team

# Public cmdlet implementations requiring interface and core review
src/scripts/Public/** @cmdlet-reviewers @core-maintainers

# Private implementation files requiring core team review
src/scripts/Private/** @core-maintainers

# Authentication and cryptography files requiring additional security review
src/scripts/Private/**/Auth*.ps1 @core-maintainers @security-team
src/scripts/Private/**/Crypto*.ps1 @core-maintainers @security-team

# Test files requiring test team review
src/scripts/Tests/** @test-maintainers

# Security and compliance test files requiring additional security review
src/scripts/Tests/Security/** @test-maintainers @security-team
src/scripts/Tests/Compliance/** @test-maintainers @security-team

# CI/CD workflows requiring both DevOps and security review
.github/workflows/** @devops-team @security-team

# Infrastructure code requiring DevOps team review
infrastructure/** @devops-team

# Documentation files requiring docs team review
*.md @docs-maintainers

# Security documentation requiring both security and docs team review
SECURITY.md @security-team @docs-maintainers
