Repository BlackpointCyber/compassone-api-powershell-module---3-u53rtw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-maintainers, @core-maintainers, @security-team, @cmdlet-reviewers, @test-maintainers, @devops-team, @docs-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Cache/Get-CompassOneCache.ps1
  src/scripts/Private/Cache/Get-CompassOneCache.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Cache/Set-CompassOneCache.ps1
  src/scripts/Private/Cache/Set-CompassOneCache.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Error/Get-CompassOneErrorMessage.ps1
  src/scripts/Private/Error/Get-CompassOneErrorMessage.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Error/Write-CompassOneError.ps1
  src/scripts/Private/Error/Write-CompassOneError.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Format/Asset.Format.ps1
  src/scripts/Private/Format/Asset.Format.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Format/Finding.Format.ps1
  src/scripts/Private/Format/Finding.Format.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Format/Incident.Format.ps1
  src/scripts/Private/Format/Incident.Format.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Logging/Get-CompassOneLogPath.ps1
  src/scripts/Private/Logging/Get-CompassOneLogPath.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Logging/Write-CompassOneLog.ps1
  src/scripts/Private/Logging/Write-CompassOneLog.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Types/Asset.Types.ps1
  src/scripts/Private/Types/Asset.Types.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Types/Finding.Types.ps1
  src/scripts/Private/Types/Finding.Types.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Types/Incident.Types.ps1
  src/scripts/Private/Types/Incident.Types.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Validation/ConvertTo-CompassOneParameter.ps1
  src/scripts/Private/Validation/ConvertTo-CompassOneParameter.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Private/Validation/Test-CompassOneParameter.ps1
  src/scripts/Private/Validation/Test-CompassOneParameter.ps1
Owners: @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Asset/Get-Asset.ps1
  src/scripts/Public/Asset/Get-Asset.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Asset/New-Asset.ps1
  src/scripts/Public/Asset/New-Asset.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Asset/Remove-Asset.ps1
  src/scripts/Public/Asset/Remove-Asset.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Asset/Set-Asset.ps1
  src/scripts/Public/Asset/Set-Asset.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Configuration/Connect-CompassOne.ps1
  src/scripts/Public/Configuration/Connect-CompassOne.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Configuration/Disconnect-CompassOne.ps1
  src/scripts/Public/Configuration/Disconnect-CompassOne.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Configuration/Get-CompassOneConfig.ps1
  src/scripts/Public/Configuration/Get-CompassOneConfig.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Configuration/Set-CompassOneConfig.ps1
  src/scripts/Public/Configuration/Set-CompassOneConfig.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Configuration/Test-CompassOneConnection.ps1
  src/scripts/Public/Configuration/Test-CompassOneConnection.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Finding/Get-Finding.ps1
  src/scripts/Public/Finding/Get-Finding.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Finding/New-Finding.ps1
  src/scripts/Public/Finding/New-Finding.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Finding/Remove-Finding.ps1
  src/scripts/Public/Finding/Remove-Finding.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Finding/Set-Finding.ps1
  src/scripts/Public/Finding/Set-Finding.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Incident/Get-Incident.ps1
  src/scripts/Public/Incident/Get-Incident.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Incident/New-Incident.ps1
  src/scripts/Public/Incident/New-Incident.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Incident/Remove-Incident.ps1
  src/scripts/Public/Incident/Remove-Incident.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Public/Incident/Set-Incident.ps1
  src/scripts/Public/Incident/Set-Incident.ps1
Owners: @cmdlet-reviewers, @core-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Tests/Integration/Asset.Integration.Tests.ps1
  src/scripts/Tests/Integration/Asset.Integration.Tests.ps1
Owners: @test-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Tests/Integration/Configuration.Integration.Tests.ps1
  src/scripts/Tests/Integration/Configuration.Integration.Tests.ps1
Owners: @test-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Tests/Integration/Finding.Integration.Tests.ps1
  src/scripts/Tests/Integration/Finding.Integration.Tests.ps1
Owners: @test-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Tests/Integration/Incident.Integration.Tests.ps1
  src/scripts/Tests/Integration/Incident.Integration.Tests.ps1
Owners: @test-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Tests/Unit/Asset/Get-Asset.Tests.ps1
  src/scripts/Tests/Unit/Asset/Get-Asset.Tests.ps1
Owners: @test-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Tests/Unit/Asset/New-Asset.Tests.ps1
  src/scripts/Tests/Unit/Asset/New-Asset.Tests.ps1
Owners: @test-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Tests/Unit/Asset/Remove-Asset.Tests.ps1
  src/scripts/Tests/Unit/Asset/Remove-Asset.Tests.ps1
Owners: @test-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Tests/Unit/Asset/Set-Asset.Tests.ps1
  src/scripts/Tests/Unit/Asset/Set-Asset.Tests.ps1
Owners: @test-maintainers

Add public-samples/compassone-api-powershell-module---3-u53rtw/src/scripts/Tests/Unit/Configuration/Connect-CompassOne.Tests.ps1
  src/scripts/Tests/Unit/Configuration/Connect-CompassOne.Tests.ps1
Owners: @test-maintainers

.github/CODEOWNERS:

# Acts as a fallback for files not explicitly matched
* @repo-maintainers

# Core module files requiring both core maintainer and security team review
src/scripts/PSCompassOne.ps* @core-maintainers @security-team

# Public cmdlet implementations requiring interface and core review
src/scripts/Public/** @cmdlet-reviewers @core-maintainers

# Private implementation files requiring core team review
src/scripts/Private/** @core-maintainers

# Authentication and cryptography files requiring additional security review
src/scripts/Private/**/Auth*.ps1 @core-maintainers @security-team
src/scripts/Private/**/Crypto*.ps1 @core-maintainers @security-team

# Test files requiring test team review
src/scripts/Tests/** @test-maintainers

# Security and compliance test files requiring additional security review
src/scripts/Tests/Security/** @test-maintainers @security-team
src/scripts/Tests/Compliance/** @test-maintainers @security-team

# CI/CD workflows requiring both DevOps and security review
.github/workflows/** @devops-team @security-team

# Infrastructure code requiring DevOps team review
infrastructure/** @devops-team

# Documentation files requiring docs team review
*.md @docs-maintainers

# Security documentation requiring both security and docs team review
SECURITY.md @security-team @docs-maintainers
